{
  "presets": [
    ["next/babel", { 
      "transform-runtime": { 
        "useESModules": false 
      },
      "preset-env": {
        "targets": {
          "browsers": "defaults"
      }
    } }]
  ],
  "plugins": ["@babel/plugin-transform-object-assign"]
}