<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://lib.baomitu.com/vue/<%= vue2Version %>/vue.min.js"></script>
    <script src="https://lib.baomitu.com/vue-router/<%= vueRouterVersion %>/vue-router.min.js"></script>
    <script src="https://lib.baomitu.com/axios/0.21.1/axios.js"></script>
    <script src="https://lib.baomitu.com/moment.js/2.29.1/moment.js"></script>
    <script src="https://lib.baomitu.com/lodash.js/4.17.20/lodash.core.js"></script>
    
  </head>
  <body>
    <div id="app"></div>
    <script src="<%= scriptSrc %>"></script>
  </body>
</html>
