.MuiTreeItem-root > .MuiTreeItem-content .MuiTreeItem-label {
  color: #cfd8dc;
  user-select: none;
  background-color: transparent!important;
  position: static;
}

.MuiTreeItem-root > .MuiTreeItem-content .MuiTreeItem-label:after {
  position: absolute;
  left: 56px;
  height: 24px;
  width: 260px;
  content: '';
  display: block;
  margin-top: -24px;
  pointer-events: none;
}

.MuiTreeItem-root > .MuiTreeItem-content .MuiTreeItem-label:hover {
  background-color: transparent!important;
  color: #fff;
}

.MuiTreeItem-root:not(.Mui-selected) > .MuiTreeItem-content .MuiTreeItem-label:hover:after {
  background-color: rgba(70, 78, 80, 0.15);
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label:after {
  background-color: rgba(70, 78, 80, 0.3);
}