.MuiTreeItem-root > .MuiTreeItem-content .MuiTreeItem-label {
  color: #cfd8dc;
  user-select: none;
}

.MuiTreeItem-root > .MuiTreeItem-content .MuiTreeItem-label:hover {
  background-color: transparent!important;
  color: #fff;
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content:after {
  position: absolute;
  content: '';
  left: 56px;
  width: 260px;
  height: 24px;
  background-color: rgba(70, 78, 80, 0.3);
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
  color: #fff!important;
}